h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ol, li {
    margin: 0;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    overflow-y: scroll;
    overflow-x: auto;
    cursor: default;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    background-color: #313131;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./assets/img/girl.jpeg) no-repeat center fixed;
    background-size: cover;
    filter: grayscale(80%);
    filter: opacity(.5);
    z-index: -2;
    background-color: #3d3b3f;
}

/*----
.body_pic {
    background: url(./assets/img/girl.jpeg) no-repeat center fixed;
    width: 100%;
    background-size: cover; 
}
----*/

/*---- reusable styles ----*/
.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}
/*-------------------------*/

/*---- start section header ----*/
.headerSection {
    background: url("./assets/img/girl_run.jpeg") no-repeat 0% 50%;
    position: relative;
    z-index: 0;
}

.headerSection:after {
    content: "";
    display: block;
    background-color: #f44e50;
    opacity: .3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.course {
    background-color: #fff;
    max-width: 400px;
    min-width: 320px;
}

.courseContent {
    padding: 45px;
}

.courseContent_title {
    font-size: 48px;
    color: #3d3b3f;
    line-height: 1.4;
}

.courseContent_subtitle {
    font-size: 18px;
    color: #f44d4f;
    font-weight: 400;
    margin: 20px 0;
    line-height: 1.4;
}

.order {
    background-color: #f44d4f;
    padding: 20px;
}

.order_title {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.order_agrmnt {
    text-align: center;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
}

.order_agrmnt_a {
    color: #3288e6;
}

.order_agrmnt_a:link {
    text-decoration: none;
}

.order_agrmnt_a:hover {
    text-decoration: underline;
}

.orderForm {
    padding: 15px 0;
}

.orderForm_field {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    padding: 4px 10px;
}

.orderForm_field:focus {
    outline: none;
    box-shadow:0 0 10px rgba(82, 168, 236, 0.8);
}

.orderForm_field:nth-child(2) {
    margin: 10px 0;
}

.orderForm_button {
    height: 35px;
    width: 100%;
    background-color: #3d3b3f;
    margin-top: 15px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.orderForm_button:hover {
    color: #f44d4f;
    cursor: pointer;
}

.discount_body {
    background-color: #fff;
    min-width: 320px;
}

.discount_content {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.discount_content_girl {
    width: 410px;
    height: 522.99px;
    
}

.discount_content_rightcol {
    padding-right: 20px;
}

.discount_heading__gray {
    font-size: 38px;
    color: #3d3b3f;
    line-height: 1.4;
    display: block;
}

.discount_heading__red {
    font-size: 38px;
    color: #f44d4f;
    line-height: 1.4;
}

.discount_p {
    font-size: 16px;
    color: #808080;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 0;
    min-width: 260px;
}

.discount_p__newline {
    display: block;
    min-width: 260px;
    margin-top: 10px;
}

.discount_prise {
    margin-top: 35px;
    padding-top: 0;
    display: flex;
}

.discount_oldprise {
    font-size: 20px;
    color: #808080;
    font-weight: 700;
    text-decoration: line-through;
    margin-top: 0;
    margin-right: 20px;
}

.discount_newprise {
    font-size: 32px;
    color: #f44d4f;
    font-weight: 700;
    margin: 0;
}

.discount_button {
    height: 35px;
    width: 200px;
    background-color: #3d3b3f;
    margin:15px 0;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.discount_button:hover {
    color: #f44d4f;
    cursor: pointer;
}

.instruction {
    background-color: #f5f5f5;
    padding-top: 45px;
    min-width: 320px;
}

.instruction_heading {
    display: block;
    text-align: center;
    font-size: 42px;
    color: #3d3b3f;
    line-height: 1.4;
}

.instruction_list_area {
    display: flex;
    margin-top: 30px;
    padding-bottom: 70px;
    justify-content: center;
    flex-wrap: wrap;
}

.instruction_list_column {
    padding: 0 10px;
    width: 270px;
}

.instruction_list_img {
    width: 45px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
}

.instruction_list_heading {
    font-size: 24px;
    color: #f44d4f;
    font-weight: 700;
    text-align: center;
}

.instruction_list_content_p {
    font-size: 16px;
    color: #808080;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

.bonus__filtr {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.bonus__filtr::before {
    content: "";
    display: block;
    align-items: center;
    color: #f5f5f5;
    width: 0px;
    height: 0px;
    border: 40px solid #f5f5f5;
    border-top-color: #f5f5f5;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin: 0 auto;
}

.bonus {
    background: none;
    padding: 0 0 20px 0;
}

.bonus_heading {
    display: block;
    font-size: 48px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
}

.bonus_heading__red {
    color: #f44d4f;
    text-align: center;
    display: block;
}

.bonus_content {
    font-size: 18px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.8;
    max-width: 80%;
    margin: auto;
}

.redsection {
    background-color: #f44d4f;
    padding-top: 30px;
    min-width: 320px;
}

.redsection_text {
    display: block;
    font-size: 48px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    margin-bottom: -35px;
}

.redsection::after {
    content: "";
    display: block;
    align-items: center;
    color: #f5f5f5;
    width: 0px;
    height: 0px;
    border: 40px solid #f5f5f5;
    border-top-color: #f5f5f5;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    margin: 0 auto;
}

.lists {
    background-color: #f5f5f5;
    padding: 60px 0;
    min-width: 320px;
}

.lists_colomns {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}

.colomn {
    margin: 0 40px;
}

.colomn_heading {
    text-align: left;
    font-size: 22px;
    color: #3d3b3f;
    display: block;
    width: 200px;
    box-sizing: border-box;
    margin: 30px 0;
}

ol {
    box-sizing: border-box;
    color: #f44d4f;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    padding-left: 20px;
}

.adv {
    background-color: #fff;
    min-width: 320px;
}

.adv_blok {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    flex-wrap: wrap;
}

.adv_blok_gray {
    background-color: #3d3b3f;
    margin: 3px;
    display: flex;
}

.adv_blok_red {
    background-color: #f44d4f;
    margin: 3px;
    display: flex;
}

.adv_blok_heading {
    font-size: 48px;
    color: #fff;
    line-height: 1.4;
    text-align: left;
    display: block;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

.adv_blok_p {
    font-size: 18px;
    color: #fff;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: 500;
    width: 400px;
    height: 100px;
    margin: 20px;
}

.adv_blok_gray_btn {
    height: 40px;
    width: 200px;
    background-color: #f44d4f;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.adv_blok_gray_btn:hover {
    color: #3d3b3f;
    cursor: pointer;
}

.adv_blok_red_btn {
    height: 40px;
    width: 200px;
    background-color: #3d3b3f;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.adv_blok_red_btn:hover {
    color: #f44d4f;
    cursor: pointer;
}

.footer {
    background: #f5f5f5;
    padding: 40px 0;
    min-width: 320px;
    width: 100%;
}

.footer_blok {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.footer_blok_heading {
    display: block;
    text-align: center;
    font-size: 52px;
    color: #f44d4f;
    line-height: 1.4;
    width: 280px;
    margin: 0 22px;
    flex-grow: 1;
}

.footer_blok_order_form {
    display: block;
    flex-direction: column;
    background: #fff;
    padding: 25px;
    flex-grow: 2;
    margin: 0 22px;
}

.footer_blok_order_heading {
    font-size: 24px;
    color: #808080;
    line-height: 1.4;
}

.footer_blok_ordere_area {
    display: flex;
    height: 46px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

}

.footer_blok_order_input {
    height: 35px;
    flex-grow: 1;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    padding: 4px 10px;
    background: #f5f5f5;
    font-size: 18px;
    margin: 0 15px;
}

.footer_blok_order_input:focus {
    outline: none;
    box-shadow:0 0 10px rgba(82, 168, 236, 0.8);
}

.footer_blok_order_btn {
    display: block;
    height: 40px;
    width: 200px;
    background-color: #f44d4f;
    margin-top: 15px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.footer_blok_order_btn:hover {
    background: #3d3b3f;
    cursor: pointer;
    transition: .2s;
}

.footer_blok_order_btn:not(hover) {
    transition: .2s;
}

.footer_blok_order_agrmnt {
    margin-top: 0px;
    text-align: right;
}

.footer_blok_svg {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer_blok_svg__size {
    display: block;
    margin: 10px;
    opacity: .5;
    height: 40px;
    width: 40px;
}

.footer_blok_svg__size:hover {
    cursor: pointer;
    opacity: .8;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    /*animation-name: svg_fadein;
    animation-duration: .2s;*/
    transition: .2s;
}

.footer_blok_svg__size:not(:hover) {
    /*animation-name: svg_fade;
    animation-duration: .2s;*/
    transition: .2s;
}


@media screen and (max-width: 767px) {

    .course {
        margin: auto;
    }

    .courseContent_title, .courseContent_subtitle {
        text-align: center;
    }

    .discount_content {
        flex-wrap: wrap;      
    }
    .discount_content_girl {
        height: 300px;
        width: auto;
        border-radius: 50%;
        margin: 25px auto;
    }

    .discount_heading__gray, .discount_heading__red,
    .courseContent_title,
    .instruction_heading,
    .adv_blok_heading, .footer_blok_heading {
        font-size: 36px;
    }
    
    .discount_content_rightcol {
        text-align: center;
        padding: 0 10px;
    }

    .discount_prise {
        justify-content: center;
    }

    .instruction_list_heading {
        font-size: 20px;
    }

    .bonus__filtr::before {
        content: "";
        display: block;
        align-items: center;
        color: #f5f5f5;
        width: 0px;
        height: 0px;
        border: 10px solid #f5f5f5;
        border-top-color: #f5f5f5;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        margin: 0 auto;
    }

    .redsection::after {
        content: "";
        display: block;
        align-items: center;
        color: #f5f5f5;
        width: 0px;
        height: 0px;
        border: 10px solid #f5f5f5;
        border-top-color: #f5f5f5;
        border-right-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        margin: 0 auto;
    }

    /*----
    .bonus {
        background: url(./assets/img/girl.jpeg) no-repeat;
        background-size: 100% ;
    }
    ----*/

    .bonus {
        position: relative;
        z-index: 0;
        background-color: #313131;
    }
    
    .bonus::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(./assets/img/girl.jpeg) no-repeat;
        background-size: cover;
        filter: grayscale(80%);
        filter: opacity(.5);
        z-index: -2;
        background-color: #3d3b3f;
        border: 0;
    }

    .bonus_heading, .bonus_heading__red, .redsection_text {
        font-size: 22px;
    }

    .bonus_content {
        font-size: 14px;
        font-weight: bold;
    }

    .redsection {
        padding-top: 20px;
    }

    .redsection_text {
        margin-bottom: 0;
    }

    .lists {
        padding-top: 20px;
    }

    .adv_blok_heading {
        width: auto;
    }

    .adv_blok_p {
        height: 155px;
        width: auto;
        margin: 10px 20px;
    }

    .adv_blok_gray_btn, .adv_blok_red_btn {
        display: block;
    }

    .adv_blok {
        margin: 0;
    }

    .adv_blok_gray, .adv_blok_red {
        max-width: 588px;
    }

    .footer_blok {
        margin: 0;
    }

    .footer_blok_order_heading {
        text-align: center;
    }

    .footer_blok_ordere_area {
        flex-direction: column;
        height: auto;
    }

    .footer_blok_order_input {
        width: 90%;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {

    .headerSection {
        background: #fff;
    }

    .headerSection:after {
        display: none;
    }

    .courseContent {
        padding: 25px 0;
    }

    .courseContent_title {
        margin: 15px 20px;
    }

    .order {
        padding: 10px;
    }

    .discount_content {
        flex-wrap: wrap;    
        padding-top: 25px;  
    }

    .discount_content_girl {
        height: 250px;
        width: auto;
    }

    .discount_heading__gray, .discount_heading__red,
    .courseContent_title,
    .instruction_heading,
    .adv_blok_heading, .footer_blok_heading {
        font-size: 26px;
    }
    
    .discount_oldprise {
        margin-right: 10px;
    }

    .discount_prise {
        justify-content: center;
    }

    .instruction {
        padding-top: 35px;
    }

    .instruction_list_heading {
        font-size: 20px;
    }


    /*----
    .bonus {
        background: url(./assets/img/girl.jpeg) no-repeat;
        background-size: cover;
    }
    ----*/


    .bonus_heading, .bonus_heading__red, .redsection_text {
        font-size: 18px;
    }

    .bonus_content {
        font-size: 11px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .adv_blok_heading {
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 22px;
    }

    .adv_blok_p {
        height: auto;
        width: auto;
        margin: 10px 10px;
    }

    .adv_blok_gray_btn, .adv_blok_red_btn {
        display: block;
        width: 100%;
    }

    .adv_blok {
        margin: 0 -5px;
        padding: 30px 0;
    }

    .adv_pic_girl, .adv_pic_fruits {
        width: 120px;
        height: auto;
    }

    .adv_blok_gray, .adv_blok_red, .adv_blok {
        max-width: 588px;
        margin-left: 0;
        margin-right: 0;
    }

    .footer {
        padding-top: 20px;
    }

    .footer_blok {
        margin: 0;
    }

    .footer_blok_heading {
        padding-bottom: 10px;
    }

    .footer_blok_order_btn {
        width: 90%;
    }

    .footer_blok_order_agrmnt {
        text-align: center;
    }

    .footer_blok_svg {
        padding-top: 20px;    }

    .footer_blok_svg__size {
        height: 30px;
        width: 30px;
    }

    .footer_blok_svg__size:hover {
        cursor: pointer;
        opacity: .8;
        width: 40px;
        height: 40px;
        margin: 0 20px;
        /*animation-name: svg_fadein;
        animation-duration: .2s;*/
        transition: .2s;
    }
}



/*@keyframes svg_fadei {
    0% {
        margin: 10px;
        opacity: .5;
        height: 40px;
        width: 40px;
    }

    100% {
        opacity: .8;
        width: 60px;
        height: 60px;
        margin: 0 20px;
     }
}



@keyframes svg_fad {
    0% {
        opacity: .8;
        width: 60px;
        height: 60px;
        margin: 0 20px;
    }

    100% {
        margin: 10px;
        opacity: .5;
        height: 40px;
        width: 40px;
     }
}*/


/*---- end section header ----*/


/*.test {*/
/*    background: url(./img/Estella\ Warren\ 1.jpg) no-repeat center fixed;*/
/*    background-size: 100%;*/
/*}*/

